
// font
$font-family: 'Inter', sans-serif
$font-coolvetica: 'Coolvetica', sans-serif

// Colors
$primary-color: #1F2041
$black-color: #020202
$background-color: #fffbf0
$secondarycolor: #4B3F72
$asset-color: #19647E
$sub-color: #119DA4
