.ant-layout
    height: 100vh
.ant-btn.ant-btn-icon-only
    @media screen and ( max-width:992px  )
        margin-right: 0

.ant-layout .ant-layout-header
    @media screen and ( max-width:992px  )
        display: flex
        justify-content: end
        width: 100%
